.background {
    background-color: aliceblue;
}

.nav-custom {
    color: black;
    background-color: aliceblue;
}

.nav-separation {
    padding-left: 2rem;
}

.up-space {
    margin-top: 1.5rem;

}

.info {
    background-color: aliceblue;
    text-align: center;
}

.img-custom {
    background-color: aqua;
    margin-bottom: 1.5rem;
}